.xl {
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  -webkit-font-smoothing: antialiased;
}

.l {
  font-size: 64px;
}

.m {
  font-size: 36px;
}

.s {
  font-size: 24px;
}

.xs {
  font-size: 18px;
}

.xxs {
  font-size: 12px;
}
