.footer {
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  max-height: 60px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 42px;
  box-sizing: border-box;
  z-index: 2;
  flex: 0 0 auto;
}

.linksList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.listItem {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #212121;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}
