* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Karla, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
}
